body{
  display: flex;
  justify-content: center;
  align-items: center;
}

table{
  border-spacing: 0;
  margin: 20px;
  text-align: center;
}

td{
  border: 1px #000 solid;
  padding: 10px 15px;
}

input{
  padding: 10px 15px;
}